

<div class="header-main">
    <div class="container">
        <div class="row">

            <div class="logo pull-left">
                <a href="~/"><img alt="Image" src="~/Themes/SafarnamaTheme/Content/Images/Safarnama-01.png"></a>
            </div>


            <div class="navbar-collapse collapse collapse-nav">
                <div class="col-md-10">
                    <nav>
                        <div id="MenuH">
                            @if (Model.Navigation != null)
                            {@Display(Model.Navigation)}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
